<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Registration</title>
</head>

<body>
    <h1>Registration Success!</h1>
    <p>
        User {{fullname}} with address {{email}} is registered.
    </p>
    <a href="./form.html">Back To Form Registration</a>
</body>

</html>